<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <ng-template [ngIf]="authService.isAuthenticate()">
        <li routerLinkActive="active"><a [routerLink]="['/recipes']" style="cursor:pointer">Recipes</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/shoppping-list']" style="cursor:pointer">Shopping List</a></li>
      </ng-template>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticate()">
            <li routerLinkActive="active"><a [routerLink]="['/signin']" style="cursor:pointer">Sign In</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/signup']" style="cursor:pointer">Register</a></li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticate()">
            <li ><a (click)="onLogout()" style="cursor:pointer">Logout</a></li>
            
        </ng-template>
          
      </ul>
    </div>
  </div>
</nav>
